RZEC_CHAIN_RPC_BIND_HOST=127.0.0.1
RZEC_CHAIN_P2P_BIND_HOST=0.0.0.0
RZEC_CHAIN_LIGHTWALLETD_GRPC_BIND_HOST=0.0.0.0
RZEC_CHAIN_LIGHTWALLETD_HTTP_BIND_HOST=0.0.0.0
RZEC_EXTERNAL_ADDR=
RZEC_MINER_ADDRESS=
RZEC_MINER_THREADS=
